In [10]:
#List of high_schools
high_schools=["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

In [11]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [12]:
high_school_types=[{"High School":"Griffin","Type":"District"},
                   {"High School":"Figueroa","Type":"District"},
                   {"High School":"Wilson","Type":"Charter"},
                   {"High School":"Wright","Type":"Charter"}]

In [13]:
for schooltypes in high_school_types:
    print(schooltypes)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [14]:
#List of high_schools
high_schools=["Huang High School","Figueroa High School6479220056-nazish", "Shelton High School","Hernandez High School",
             "Griffin High School", "Wilson High School", "Cabera High School", "Bailey High School", "Holden High School",
             "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School",
             "Thomas High School"]

In [15]:
import pandas as pd

In [16]:
school_series=pd.Series(high_schools)
school_series

0                         Huang High School
1     Figueroa High School6479220056-nazish
2                       Shelton High School
3                     Hernandez High School
4                       Griffin High School
5                        Wilson High School
6                        Cabera High School
7                        Bailey High School
8                        Holden High School
9                          Pena High School
10                       Wright High School
11                    Rodriguez High School
12                      Johnson High School
13                         Ford High School
14                       Thomas High School
dtype: object

In [17]:
for highschool in school_series:
    print(highschool)

Huang High School
Figueroa High School6479220056-nazish
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [22]:
high_school_dicts=[{"School ID":0,"School_name":"Huang High School","type":"District"}, {"School ID":1,"School_name":"Figueroa High School",
                    "type":"District"}, {"School ID":3, "School_name":"Shelton High School","type":"District"},{"School ID":4,"School_name":
                                                                                                               "Hernandez High School","type":"Charter"}]

In [23]:
school_df=pd.DataFrame(high_school_dicts)
school_df

   School ID            School_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          3    Shelton High School  District
3          4  Hernandez High School   Charter

In [25]:
adress=["Kitchener","Missisuaga","Hamilton","Oakville"]
school_df("adress")=Adress
school_df

SyntaxError: can't assign to function call (1250668648.py, line 2)

In [26]:
school_df.columns

Index(['School ID', 'School_name', 'type'], dtype='object')

In [27]:
school_df.index

RangeIndex(start=0, stop=4, step=1)

In [28]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [3, 'Shelton High School', 'District'],
       [4, 'Hernandez High School', 'Charter']], dtype=object)